@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;

}



/* ændre selve placering på selve logoet  */
.logo{
  text-align:center;
  display: block;
  margin-left:  auto;
  margin-right: auto;
  height: 100px;
}

/* for farve og placering på login linket */
.login{
    color: #0c310f;
    float: right;
    margin-right: 10px;
   
    
}

/* En container hvor buttonsne er tilføjet i der for dem til at være centreret */
.container{
height: 50px;
position: relative;
text-align: center;

}



.dropdownbuttons{
  display: inline-block;
  font-size: 2em;
  background: #0c310f;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 40px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  transition: 0.2s;
  width: 70%;
  border-radius: 8px;


 
  
}


.dropdown-container a{
  display: inline-block;
  font-size: 2em;
  background: #0c310f;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 40px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  transition: 0.2s;
  width: 50%;
  border-radius: 8px;
  
  
  
}


/* hele dropdown design fra når den active og når den viser data  */
.active1 {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #ffffff;
  padding-left: 8px;
 
 
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
  display: none;
  
}
/* design til knappen til tilføje ny kategori */
.addbtn{
  background-color: #0c310f;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin: 6px 2px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  float: right;
  position: relative;
  margin-right: 20px;
}

/* Hele navigations bjælken */
.wrapper .sidebar{
  background: #B1B1B1; 
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  z-index: 2;
  
  }
  
  .wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
  }
  
  .wrapper .sidebar .profile img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  }
  
  .wrapper .sidebar .profile h3{
  color: #0C310F;
  margin: 10px 0 5px;
  }
  
  .wrapper .sidebar .profile p{
  color: #0C310F;
  font-size: 14px;
  }
  
  .wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #6d6d6d; 
  color: #0C310F; 
  font-size: 16px;
  position: relative;
  }
  
  .wrapper .sidebar ul li a .icon{
  color: #666565;
  width: 30px;
  display: inline-block;
  }
  
  
  
  .wrapper .sidebar ul li a:hover,
  .wrapper .sidebar ul li a.active{
  color: #B1B1B1; 
  background:#555555;
  border-right: 2px solid #B1B1B1; 

  }
  
  .wrapper .sidebar ul li a:hover .icon,
  .wrapper .sidebar ul li a.active .icon{
  color: #0C310F; 
  }
  
  .wrapper .sidebar ul li a:hover:before,
  .wrapper .sidebar ul li a.active:before{
  display: block;
  }
  
  .wrapper .section{
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
  }
  
  .wrapper .section .top_navbar{
  background: none;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  
  
  }
  
  .wrapper .section .top_navbar .hamburger a{
  font-size: 28px;
  color: #000000;
  }
  
  .wrapper .section .top_navbar .hamburger a:hover{
  color: #0C310F;
  }
  
  
  
  body.active .wrapper .sidebar{
  left: -225px;
  }
  
  body.active .wrapper .section{
  margin-left: 0;
  width: 100%;
  }
  
  .sidecontact{
    position: absolute;
    color: #0C310F;
    bottom: 80px;
    left: 16px;
    font-size: 18px;
  }


  /* css til data der i dropdown som for data fra json  */
  .tablelist {
    border-collapse: collapse;
   width: 100%;
}

.tablelist td,
.tablelist th {
   border: 1px solid #ddd;
   padding: 8px;
}

.tablelist tr:nth-child(even) {
   background-color: #f2f2f2;
}

.tablelist tr:hover {
   background-color: #ddd;
}

.tablelist th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #0C310F;
   color: white;
}





  
